@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #a0a0a0;
}

/*--------------------*/
.body-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: flex-start;
}
.body-box .header {
  align-self: stretch;
}
.body-box .main {
  margin: 10px;
}
.body-box .footer {
  min-height: 22px;
  align-self: stretch;
  background: tomato;
}

/*--------------------*/
.header {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  background-color: #efefef;
  box-shadow: 0 0 5px rgb(60, 60, 60);
}
.header h1, .header h4 {
  text-align: right;
  line-height: 1.5;
  padding-right: 100px;
  font-weight: bold;
}
.header__title {
  font-size: 32px;
  color: #ffd700;
}
.header__subtitle {
  font-size: 16px;
  color: rgba(127, 127, 127, 0.5019607843);
}
.header__subtitle a {
  text-decoration: none;
  color: #7f7f7f;
}

/*--------------------*/
/*--------------------*/
.main-wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  width: 1280px;
  height: 744px;
  background-color: rgba(0, 121, 70, 0.5019607843);
}

/*--------------------*/
.box-content {
  background: rgb(22, 30, 54);
}

/*--------------------*/
.box-images {
  background: rgba(255, 255, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
}
.box-images .box-images__elem {
  width: 50%;
  height: 50%;
  background-color: greenyellow;
}
.box-images .box-images__elem:last-child {
  width: 100%;
  height: 50%;
  background-color: rgb(129, 191, 35);
}
.box-images img {
  width: 100%;
  height: 100%;
}

/*--------------------*/
.footer {
  height: 100px;
}

/*--------------------*/