@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------*/
body{
  font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px;
	background: #a0a0a0;
}

/*--------------------*/
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 120px;
	background-color: #efefef;
	box-shadow: 0 0 5px rgb(60, 60, 60);
		h1, h4{
			margin: 0;
			text-align: right;
			line-height: 1.5;
			padding-right: 100px;
		}
		&__title{
			color: #ffd700;
		}
		&__subtitle{
			color: #7f7f7f80;
				a{
					text-decoration: none;
					color: #7f7f7f;
				}
		}
	margin-bottom: 50px;
}

/*--------------------*/
.wrapper{
	display: grid;
  grid-template-columns: 3fr 4fr;
	width: 1280px;
	height: 744px;
	margin: 0 auto;
}


/*--------------------*/
.box-content{
	background: rgba(22, 30, 54, 1);
	
}

/*--------------------*/
.box-images{
	// background: rgba(255, 255, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
		img{
			width: 50%;
			height: 50%;
		}
		img:last-child{
			width: 100%;
			height: 50%;
		}
}
/*--------------------*/


